<div class="material">
      <div class="mat-title"><a href="{{ entity.atom.entry_url }}"><h1>{{ entity.title }}</h1></a></div>
      <div class="mat-content">
        <div class="photos_albums_container">
            <div class="bigimg margin">
              <a class="bigimglink gallery" href="{{ entity.atom.main }}"><img alt="{{ entity.atom.foto_alt }}" src="{{ entity.atom.main }}"/></a>
              <a class="rotatorimg before" title="Предыдущее фото" href="{{ entity.atom.previous_url }}"></a>
              <a class="rotatorimg after" title="Следующее фото" href="{{ entity.atom.next_url }}"></a>
            </div>
            <div class="infomats">
                <div class="namesmats"><b class="title">{{ entity.title }}</b>
                  <br />{{ entity.atom.description }}
                </div>
                <div class="infomatsright">
                  <b>Автор:</b><a href="{{ entity.atom.profile_url }}"> {{ entity.author.name }}</a>
                  <br /><b>Альбом:</b><a href="{{ entity.atom.category_url }}"> {{ entity.category.title }}</a>
                  <br /><b>Просмотров:</b> {{ entity.views }}
                  <br /><b>Дата:</b> {{ AtmDate(entity.date) }}
                  {% if entity.commented %}<br /><b>Комментариев:</b> {{ entity.comments }}{% endif %}
                  <br />{{ entity.atom.moder_panel }}
                </div>
            </div>
        </div>
      </div>
</div>
{{ relmat }}