<form name="addNewUserForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
<div class="material">
    <div class="mat-title">Регистрация</div>
    <div class="mat-content">
        <ul class="spisok-all">
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Логин:</strong>Ваш личный псевдоним</span>
            <span class="siu_data"><input type="text" name="login" maxlength="30" value="{{ context.login }}" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong>Полное имя:</strong></span>
            <span class="siu_data"><input type="text" name="full_name" maxlength="255" value="{{ context.full_name }}" /></span>
        </li>
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Адрес e-mail:</strong></span>
            <span class="siu_data"><input type="text" name="email" maxlength="60" value="{{ context.email }}" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Пароль:</strong></span>
            <span class="siu_data"><input type="password" name="password" maxlength="30" value="" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Подтвердите пароль:</strong></span>
            <span class="siu_data"><input type="password" name="confirm" maxlength="30" value="" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong>Пол:</strong></span>
            <span class="siu_data">
                  Мужской<input type="radio" name="pol" value="1"{{ context.mpol }} />
                  Женский<input type="radio" name="pol" value="2"{{ context.fpol }} />
            </span>
        </li>
        <li>
            <span class="siu_title"><strong>Дата рождения:</strong>(день;месяц;год)</span>
            <span class="siu_data"> 
                <select name="bday">{{ context.bday_selector }}</select>
                <select name="bmonth">{{ context.bmonth_selector }}</select>
                <select name="byear">{{ context.byears_selector }}</select>    
            </span>
        </li>
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Код подтверждения:</strong>Введите код с картинки, для проверки. что вы не робот.</span>
            <span class="siu_data">
            <span id="captcha"><img onclick="this.src='/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{{ context.captcha }}" alt="" /></span>
            <br /><input type="text" name="keystring" maxlength="6" value="{{ context.keystring }}" required /></span>
        </li> 
        <li>
            <input type="submit" name="submitForm" value="Зарегистрироваться" />
        </li> 
        </ul>
    </div>
</div>
</form>