{{ editor_body }}

{% if context.touser %}
<script type="text/javascript">
// подставляем id юзера с которого был переход
window.onload = function(){
    var id;
    id = intURLafter();// получаем id юзера
    if (id !== undefined) {
         var backlink = $('#backuplink'), backlinkhref = '{{ www_root }}/users/info/';
         backlink.attr("href", backlinkhref + id);
         backlink.html("Вернуться к {{ context.touser }}");
         
         var pmlink = $('#pm'), pmlinkhref = '{{ www_root }}/users/send_pm_form/';
         pmlink.attr("href", pmlinkhref + id);
         
         var msglink = $('#msg'), msglinkhref = '{{ www_root }}/users/send_mail_form/';
         msglink.attr("href", msglinkhref + id);
    }
}
</script>
{% endif %}

<form name="sendMailForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
    <div class="material">
      <div class="mat-title">Отправление сообщения: {{ context.touser }}</div>
      <div class="mat-content">
       <div class="userblock">
          <ul class="userslinks">
                 <li><a id="backuplink" href="{{ www_root }}/users/info/{{ atm_user.id }}">Мой профиль</a></li>
                 <li><a href="{{ www_root }}/users/pm/">Сообщения</a></li>
                 <li class="active"><a id="pm" href="{{ www_root }}/users/send_pm_form/">Отправить ЛС</a></li>
                 {% if context.touser %}<li><a id="msg" href="{{ www_root }}/users/send_mail_form/">Отправить на почту</a></li>{% endif %}
          </ul>
          <div class="userinfo">
            <ul class="spisok-all">
            <li>
              <span class="siu_title"><strong><font color="red">*</font> Кому:</strong>Внимание, в форме предусмотрен поиск по именам</span>
              <span class="siu_data">
                <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ context.touser }}" list="findusers" />
                <datalist id="findusers"></datalist>
              </span>
            </li>
            <li>
              <textarea {{ editor_text }} name="mainText">{{ context.main_text }}</textarea>
            </li>
            <li>
              <input class="subm" type="submit" name="submitForm" value="Отправить" />
            </li>
            </ul>
          </div>
      </div>
    </div>
    </div>
</form>