<div class="material">
      <div class="mat-title">Правила регистрации</div>
      <div class="mat-content">
          <ul class="spisok-all">
          <li class="margin">
            {{ context.rules }}
          </li>
          <li>
          <a class="button" href="{{ context.reg_url }}">Я согласен</a>
          </li>
          </ul>
      </div>
</div>