{% if entities %}
{% for entity in entities %}
<div class="material">
          <div class="mat-title"><a href="{{ entity.atom.entry_url }}"><h1>{{ entity.title }}</h1></a><div class="mod-panel">{{ entity.atom.moder_panel }}</div></div>
          <div class="mat-content">
            <div class="topinfo">
                <span class="left">Раздел: <a href="{{ entity.atom.category_url }}">{{ entity.category.title }}</a></span>
                <span>Просмотров: {{ entity.views }}</span>
                <span>Комментарии: {{ entity.comments }}</span>
                <span class="right">Автор: <a href="{{ entity.atom.profile_url }}">{{ entity.author.name }}</a></span>
            </div>
            <div class="announce">{{ entity.announce }}</div>
            <div class="footerinfo">
               Добавлено: {{ AtmDate(entity.date) }}
           </div>
         </div>
</div>
{% endfor %}
{% else %}
<div class="informs">
Новостей еще не добавлено.
</div>
{% endif %}