<link rel="stylesheet" href="{{ template_path }}/css/chat.css"> 
<link rel="stylesheet" href="{{ template_path }}/css/jquery.jscrollpane.css"> 
<script src="{{ template_path }}/js/jquery.mousewheel.js"></script>
<script src="{{ template_path }}/js/jquery.jscrollpane.min.js"></script>
<script src="{{ template_path }}/js/chat.js"></script>

<div class="scrollBox">
<div id="chat">
</div>
</div>