{% if commentsr %}
<div class="material">
    <div class="inftitle">Комментарии</div>
    <div class="mat-content">
        <ul class="userlist">
            {% for comment in commentsr %}
                <li class="comment_tree">
                    <div style="padding-left: {{ comment.lvl * 5 }}%">
                        <div class="userlistavatar">{{ comment.atom.avatar }}</div>
                            <div class="listuser">
                                <ul class="listuserbuttons">
                                    {% if config(['comments_tree']) %}<a class="button2" onClick="replyComment(this, {{ comment.id }}, '{{ comment.name }}');">Ответить</a>{% endif %}{% if comment.atom.moder_panel %}{% if comment.atom.raw_time_mess %} <small>Осталось {{ comment.atom.raw_time_mess }} сек.</small>{% endif %}<li style="padding: 6px;">{{ comment.atom.moder_panel }}</li>{% endif %}
                                    {% if comment.entry_url %}<li><a href="{{ comment.entry_url }}" class="button2">Перейти к материалу...</a></li>{% endif %}
                                </ul>
                                <h3 class="userlisttitle">{{ comment.atom.name_a }}</h3>
                                <div class="text">
                                    {{ comment.atom.message }}
                                </div>
                                <div>
                                    {% if comment.atom.editdate %}<span><b>Комментарий был изменён:</b> {{ AtmDate(comment.atom.editdate) }}</span>{% endif %}<span><b>Дата отправления:</b> {{ AtmDate(comment.date) }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}