{{ editor_body }}
<script language="JavaScript" type="text/javascript">
function pollForm(element) {
    if (!$(element).is(':checked')) {
        $('#poll_question').hide();
        $('#poll_ansvers').hide();
    } else {
        $('#poll_question').show();
        $('#poll_ansvers').show();
    }
}

maxAttachedFiles = {{ context.max_attaches }};
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu('sendForm')}; return false">
<div class="material">
      <div class="mat-title">Coздание новой темы</div>
      <div class="mat-content">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Название темы:</strong></span>
            <span class="siu_data"><input type="text" name="theme" maxlength="55" value="{{ context.theme }}"/></span>
          </li>
          <li>
            <span class="siu_title"><strong>Описание:</strong></span>
            <span class="siu_data"><input type="text" name="description" maxlength="128" value="{{ context.description }}" /></span>
          </li>
          <li>
            <div class="answertextarea"><textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></div>
          </li>
           {% if fps_admin_access == 1 %}
          <li>
            <span class="siu_title"><strong>Закрыть доступ к теме</strong></span>
            <span class="siu_data">
            {% for group in fps_users_groups %}
            <label><input type="checkbox" {% for curr in context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" /> {{ group.title }}</label><br />
            {% endfor %}
            </span>
          </li>
          {% endif %}
          {% if checkAccess([module,'upload_files']) and context.locked_attaches == 0 %}
          <li>
            <span class="siu_title"><strong>Прикрепить файлы</strong></span>
            <span class="siu_data" id="attachments">
              <input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span>
              <input type="button" name="addInput" value="Прикрепить еще файл" onClick="addFileField('attachments');" />
            </span>
          </li>
          {% endif %}
          <li>
            <span class="siu_title"><strong>Добавить опрос:</strong></span>
            <span class="siu_data"><input type="checkbox" name="poll" value="1" onClick="pollForm(this);" {% if context.poll %} checked="checked" {% endif %}/></span>
          </li>
          <li id="poll_question" {% if context.poll == 0 %} style="display:none;" {% endif %}>
            <span class="siu_title"><strong>Вопрос:</strong>Знак вопроса(<b>?</b>) добавлять не нужно, он добавится автоматически.</span>
            <span class="siu_data"><input type="text" name="poll_question" value="{{ context.poll_question }}" /><b style="font-size: 20px;"> ? </b></span>
         </li>
         <li id="poll_ansvers" {% if context.poll == 0 %} style="display:none;" {% endif %}>
            <span class="siu_title"><strong>Варианты ответов:</strong>Каждый вариант ответа должен быть на отдельной строке.</span>
            <span class="siu_data"><textarea name="poll_ansvers">{{ context.poll_ansvers }}</textarea></span>
          </li>
          <li>
            <span class="siu_title"><strong>Закрепить первое сообщение темы:</strong></span>
            <span class="siu_data"><input type="checkbox" name="first_top"{% if context.first_top %} checked="checked"{% endif %}/></span>
          </li>
          {% if checkAccess([module,'close_themes']) %}
          <li>
            <span class="siu_title"><strong>Закрыть тему(Запретить отвечать на тему):</strong></span>
            <span class="siu_data"><input type="checkbox" name="locked"{% if context.locked %} checked="checked"{% endif %}/></span>
          </li>
          {% endif %}
          <li>
          <input class="subm" type="submit" name="submitForm" value="Создать тему" />
          </li>
          </ul>
      </div>
</div>
</form>
